  body{
  background-color: #000000;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  }
  a{

color:#fff;
  }
#publishBtn {
        background-color: #2ea00b;
        color: #ffffff;
        padding: 5px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }
#publishBtn:focus{
background-color:red;
  }
#micMuteBtn {
        background-color: #2ea00b;
        color: #ffffff;
        padding: 5px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }
#micMuteBtn:focus{
background-color:red;

  }
#viewerURL{
    position: absolute;
    top: 8px;
    right: 42%;
    visibility: hidden;
}
#aspect{
        background-color: #2ea00b;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }
#buttonGo {
        background-color: #2ea00b;
        color: #ffffff;
        opacity: 0.8;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }
#buttonGo:focus{
background-color:red;
  }
    #aspect{
        background-color: #2ea00b;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }
    #aspectNormal {
        background-color: #2ea00b;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }
  .slider {
  color: red;
    -webkit-appearance: none;
     width: 4.2em;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
.container {
    position: relative;
    text-align: center;
    color: white;
      width: 100vw;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 2px;
    left: 18%;
}
/* Top left text */
.top-left {
    position: absolute;
    margin-left: 30%;
    top: 2px;
    left: 0%;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 15%;
}

/* Bottom right text */
.bottom-right {
   
    position: absolute;
    bottom: 8px;
    right: 35%;
    padding-bottom: 25%;
}

/* Centered text */
.centered {
position: absolute;
margin-left:40%;
    top: 8px;
    left: 16px;  
}
#iframe{
border: -1px;
height: 20%;
width: 100%;

}
table, th, td {
 color: #edf0f2; 
}
img{
opacity: 50%
}
#localVideo{
width: 100vw;
height: 100%;
}
#form{
position: fixed;
top:0;
right: 30%;

}
