  body{
  background-color: #000000;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;

  }
a{
color: #fff;    
}  
#publishBtn {
        background-color: #2ea00b;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
        padding-bottom:20%;
    }
#publishBtn:focus{
/*background-color:red;*/
  }
#micMuteBtn {
        background-color: #2ea00b;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
        padding-bottom:20%;
    }
#micMuteBtn:focus{
/*background-color:red;*/d;
}
#viewerURL{
    position: absolute;
    padding-top: 20%;
    top: 10%;
    right: 42%;
    visibility: visible;
}
#aspect{
        background-color: #2ea00b;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }

    #aspect{
        background-color: #2ea00b;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }
    #aspectNormal {
        background-color: #2ea00b;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }
.container {
    position: relative;
    text-align: center;
    color: white;
      width: 100vw;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 10%;
    left:40%;
    padding-bottom: 5%;
}
/* Top left text */
.top-left {
    position: absolute;
    margin-left; 10%;
    top: 2px;
    left: 35%;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 15%;
}

/* Bottom right text */
.bottom-right {
   
    position: absolute;
    bottom: 8px;
    right: 35%;
    padding-bottom: 25%;
}

/* Centered text */
.centered {
 position: absolute;
margin-left; 40%;
top: 8px;
left: 16px;  
}
#iframe{
border: -1px;
height: 20%;
width: 100%;

}
table, th, td {
 color: #edf0f2; 
}
img{
opacity: 50%
}
#localVideo{
width: 100vw;
height: 100vh;
}
#form{
position: fixed;
top:0;
right: 38%;


}
